<% title("Instructor index Page") %>
<h1><i class="fa fa-home"></i> Instructors Index <br><small>Select a Teacher</small></h1>


<% @instructors.each do |instructor| %>
	<%= link_to instructor_path(instructor) do %>
	  <div class="col-sm-3 col-sm-offset-1 btn btn-default">
		  <h4><%= "#{instructor.teacher.first_name}, #{instructor.teacher.last_name}" %></h4>
	    <p class="text-info">
		    <%= instructor.teacher.time_zone %>
			</p>
	  </div>
	<% end %>
<% end %>
