<% title("#{@instructor.teacher.first_name} #{@instructor.teacher.last_name}'s page") %>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="page-header">
			<h3>
				<%="#{@instructor.teacher.first_name} #{@instructor.teacher.last_name}" %> &nbsp;
			</h3>
		</div>
		<p><%= "#{@instructor.teacher.first_name} is in #{@instructor.teacher.time_zone}." %></p>
			<%= link_to 'Availabilities',instructor_availabilities_path(@instructor) %>
	</div>
</div>
<br>

<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<div id='top'>
			Language:
			<select id='lang-selector'></select>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<div id="calendar" class="calendar" data-instructor-id="<%= @instructor.teacher.id %>">
<!-- pass the timezone params. pass the other event params via the 'data' attribute -->
		</div>
	</div>
</div>

