<% title("User index Page") %>
<h1><i class="fa fa-home"></i> Index Page <small>Select a Teacher</small></h1>


<% @users.each do |user| %>
	<%= link_to user_path(user) do %>
	  <div class="col-sm-3 col-sm-offset-1 btn btn-default">
		  <h4><%= "#{user.first_name}, #{user.last_name}" %></h4>
	    <p class="text-info">
		    <%= user.time_zone %>
			</p>
	  </div>
	<% end %>
<% end %>
