<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Home Page <br> <small>We'll put more cool shit here</small></h1>

<br><br>
<ul>
	<li><%= link_to "Users Index", users_path %></li>
	<li><%= link_to "Instructors Index", instructors_path %></li>
	<li></li>
</ul>



