<% title("Availability page") %>
<h1>Availability Page</h1>



<!-- 
<p>This page is only visible to signed in users. Edit it at: <em>views/pages/inside.html.erb</em></p>
<p>You can change the page users see after successfully signing in within the method <em>after_sign_in_path_for</em> inside <strong>application_controller.rb</strong></p>
 -->

<div class="row">
	<div class="col-md-8">
		<div id='calendar'></div>
	</div>
</div>

<br>

 <script>

// page is now ready, initialize the calendar...
$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month agendaWeek agendaDay'
		},
		// events: '/events.json',
		// // theme: true,
		
	});

</script>